#masthead{
    position: relative;
    display: table;
    text-align: center;
    width: 100%;
    overflow: hidden;
    transition: all 1s;
    color: #fff;
    }
.blog-background{
    display:block;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:absolute;
    left:0;
    top:0;
    transform: 1s ease all;
    opacity: 1;
    border-bottom:2px solid lightblue;
    border-radius:0 0 2em 2em;
    }