.image-area{
    width:80%;
    border:1px solid lightblue;
    padding:10px 10px 20px 10px;
    box-shadow:2px 2px 20px cyan;
    background-image:url(../images/image1-background.jpg);
    background-size:100%;
    opacity: 0.8;
    float:left;
    margin:5px ;
    }
.image{
    border:3px groove lightgray;
    border-radius: 2em;
    }
section img{
    width:60%;
    height:60%;
    float:left;
    border-radius: 2em;
    }
section p.p1{
    font-size:14px;
    font-style:oblique;
    color:dodgerblue;
    font-weight:bolder;
    word-wrap:wrap;
    }
section div[class^="image"]:hover{
   box-shadow: 20px 20px 100px lightcoral;
   transform: rotate(360deg);

}
section div[class^="image"]{
   transition:  2s;
  -moz-transition:  2s;	/* Firefox 4 */
  -webkit-transition:  2s;	/* Safari 和 Chrome */
  -o-transition:  2s;	/* Opera */
}
/*右部分*/
section h3{
    text-align: center;
    margin:10px;
    }
section div.h3 p{
    text-indent: 2em;
    font-family:'Times New Roman', Times, serif;
    color:saddlebrown;
    padding:10px;
    }